<template>
<v-container>
<v-layout >
<v-row no-gutters>

<v-card 
v-for="item in dataPaquetes" :key="item.codigo"
      class="mx-auto my-6"
      width="270"
      height="400"
  >
  <div class="ribbon">
    <div class="ribbon-text">
      {{item.subtituloWeb}}
    </div>
  </div>
  <v-row class="rowServices">
  <v-tooltip top v-for="servicios in item.despliegueServiciosIncluidos" :key="servicios.value">
  <template v-slot:activator="{ on }">
  <img v-on="on" class="serviceIcons" :src="'/assets/' + servicios.value + '.png'" v-bind:alt="servicios.label" >
    </template>
  <span>{{servicios.label}}
  </span>
  </v-tooltip>
  </v-row>
    <v-img
      height="200"
      :src= "item.imagePromo"
    ></v-img>
    <h2 class="cityHeader">
      {{item.ciudad}}
    </h2>
      <v-row
        align="center"
        class="mx-0"
      >
      <div class="dataDays">
        {{item.descDiasNoches}}
      </div>
        <v-rating
          :value= Number(item.valorCatPrestador)
          color="amber"
          dense
          half-increments
          readonly
          size="14"
          class="alignFixStars"
        ></v-rating>
      </v-row>
      <h1 class="price">{{item.codMoneda + ' $' + item.montoRedondeado}}</h1>
      <p class="disclaimerPromotion">
        Precio promocional
        <br>
        {{item.descBasePrecio}}
        </p>    

    <v-card-actions>
        <v-btn color="primary" class="alignCenter" >Ver oferta</v-btn>

    </v-card-actions>
</v-card>
</v-row>
</v-layout>
</v-container>
</template>


<script>

export default {
  name: 'cards',
  props: {dataPaquetes: Array},
  data: () => ({
    }),
  methods: {
  },
  mounted() {
},
};
</script>


<style scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
.alignCenter{
  margin-left:auto;
  margin-right:auto;
}
.rowServices{
  position:absolute; 
  z-index:9;
  left: 15px;
  bottom: 210px;
}
.dataDays{
  font-size:12px; 
  margin-left:15px;
}
.serviceIcons{
  height:auto; 
  max-width:40px;
}
.cityHeader{
  font-size:14px;
   margin-left:15px; 
   margin-top:10px; 
   margin-bottom:0px;
}
.alignFixStars{
  margin-left: 5px;
}
.price{
    color: hsl(235, 96%, 18%) !important;
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    padding-top:15px;
}
.disclaimerPromotion{
  color:#bababa;
  text-align: center;
  font-size:10px; 
  margin-bottom:0px; 
  padding-bottom:5px;
}
.ribbon{
  position: absolute;
  top: 0;
  right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: auto;
  min-width:160px;
  height:40px;
  z-index:10;
}
.ribbon-text{
  background-color: #003d68;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 160px;
  color: white;
  text-align: center;
  white-space: nowrap

}
</style>

