<template>
  <v-app>
    <v-tabs background-color="#6495ed" color="white" :centered="centered">
      <v-tab v-for="tab in cities" :key="tab.id" @click='loadPacks(tab.id)'><i class="material-icons" style="margin-right:5px;">card_travel</i>{{tab.name}}</v-tab>
   </v-tabs>
  <cards v-if="!loader" :dataPaquetes="dataPackages"/>
  <div class="loader" v-if="loader"></div>
</v-app> 
</template>

<script>
import cards from './components/Card.vue'

export default {
  name: 'App',
  components: {
    cards,
  },
  data: () => ({
    dataPackages: [],
    loader: '',
    centered: true,
    cities: [{
      id: "pE",
      name: "Punta del Este"
    },{
      id: "cU",
      name: "Costa Uruguaya"
    }],
  }),
   created() {
    this.loadPacks()
  },
  methods: {
  loadPacks: function (val) {
    this.loader = true;
    var vm = this;
      var proxyUrl = 'https://cors-anywhere.herokuapp.com/',
      targetUrl = val == 'cU' ? 'http://ldimaria.challenge.trinom.io/obtener-promociones-costa-uruguaya.json' : 'http://ldimaria.challenge.trinom.io/obtener-promociones-punta-del-este.json';
      fetch(proxyUrl + targetUrl)
        .then(blob => blob.json())
        .then(data => {
          vm.dataPackages = data.promociones;
          // eslint-disable-next-line no-console
          setTimeout(() => {
            vm.loader = false;
          }, 500)
        })
        .catch(function (error){
          vm.dataPackages = 'Un error ocurrio: ' + error;
        });
    }
  }
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');

.loader{
  width:100vw;
  height:100vh;
  background-image: url(assets/preloader.gif);
  background-position: center;
}

</style>
